<!--
  Generated template for the ApPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>All products</ion-title>

<!--menu button -->

<ion-buttons left>
        <button  ion-button menuToggle left>
        <ion-icon name="menu"> </ion-icon>
     </button> 
    </ion-buttons>


<!--add product -->

<ion-buttons end>

<button  (click)="addproduct()"  >

<ion-icon name="add" color="secondary" >

</ion-icon>

</button>

</ion-buttons>

  </ion-navbar>

</ion-header>


<ion-content padding>



<ion-list>

<!--
	<ion-item>

<p>

name:pen 
</p>
<p>

desc:tri-max pen
</p>
<p>
	desc :50
</p>
<p>
	price:55
</p>

	</ion-item>





-->





<ion-item-sliding *ngFor="let item  of items"  > 

<ion-item >

<p>

	name:{{  item.name}}



</p>

<p>

item  	{{ item.desc}}

</p>

<p>
	

   
   item quantity: {{item.quan}}

</p>

<p>

	item price :{{item.price}}


</p>

<p>

  item id :{{item.date}}


</p>


<p>
image:{{item.img}}

</p>

<p>






code: 

<br>
<img [src]=item.code *ngIf="item.code" >




</p>

 <ion-avatar item-start>
      <img [src]=item.img *ngIf="item.img" >
    </ion-avatar>





</ion-item>


<ion-item-options side="left">
      <button ion-button color="primary"  (click)="updateitem(item)" >
        <ion-icon name="create" ></ion-icon>
        EDIT 
      </button>
      
    </ion-item-options>
    <ion-item-options side="right">
      <button ion-button color="danger"  (click)="Deleteitem(item)">
        <ion-icon name="trash"></ion-icon>
Delete
      </button>
    </ion-item-options>

  </ion-item-sliding>






</ion-list>



</ion-content>


