<!--
  Generated template for the RepoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>



  <ion-navbar>


<ion-buttons left>
        
        <button  ion-button menuToggle left>
        <ion-icon name="menu"> </ion-icon>
     </button> 
    </ion-buttons>



    <ion-title>report</ion-title>
 





  </ion-navbar>

</ion-header>


<ion-content padding>




<ion-row center >


  <ion-label color="primary"   text-center    > Get Todays Report</ion-label>


  </ion-row>

<div text-center align-items-center>

<button   ion-button   (click)="today()" >  Get</button>

</div>




<br>
<br>

 <ion-label color="danger"   text-center   > Get Report of specific date </ion-label>


<ion-row center >




<ion-item>

 

 <ion-datetime displayFormat="M/D/YYYY" [(ngModel)]="myDate"    min="2016"  max="2020-10-31"  >  </ion-datetime>
<br>
  
  <ion-label color="primary"   text-center   >  Date </ion-label>
 
</ion-item>


</ion-row>

<Br> <br>


<div text-center align-items-center>

<button    (click)="SD()"   *ngIf="myDate"      ion-button >  Get</button>

</div>

<Br>




 <ion-label color="secondary"   text-center   > Get report of Specific period </ion-label>

<ion-item>


  <ion-datetime displayFormat="M/D/YYYY" [(ngModel)]="from"     min="2018"  max="2020-10-31"  >   </ion-datetime>
<br>
  
  <ion-label color="primary"   text-center   >  from  </ion-label>
 
</ion-item>



<ion-item>


  <ion-datetime displayFormat="M/D/YYYY" [(ngModel)]="to"  min="2016"  max="2020-10-31">  </ion-datetime>
<br>
  
  <ion-label color="primary"   text-center   >  TO  </ion-label>
 
</ion-item>


<div text-center align-items-center>

<button   ion-button   (click)="SM()"   *ngIf="to && from"    >  Get</button>

</div>


this is report page
</ion-content>
